<h1>Games</h1>
<div class="new_game">
  <a href="<%= routes.new_game_path %>">New Game</a>
</div>
<% if games.any? %>
  <div class="games">
  <ul>
  <% games.each do |game| %>
    <li><a href="<%= routes.game_path %>/<%= game.id %>"><%= game.title %> :</a>
    <p><%= game.info %></p></li>
  <% end %>
  </ul>
  </div>
<% else %>
  <p>No Games Added</p>
<% end %>
<%= render partial: 'shared/sidebar' %>
