<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= stylesheet 'default' %>
    <%= javascript 'jquery' %>
    <%= javascript 'turbolinks' %>
    <%= javascript 'default' %>
    <%= favicon %>
  </head>
  <body>
    <div class="dev_message">
      <%= if ENV['HANAMI_ENV']
        session.each do |k,v| "<p>#{k}:#{v}</p>" end
      end%>
      <p style="margin: 0;"><b> Remove me in the release version! </b></p>
    </div>
    <div class="header">
      <a href="<%= routes.root_path %>">
        <img class="homepage_icon" src="/assets/logo.png" alt="Homepage icon"/>
      </a>
      <div class="menu">
        <%= if session["username"]
            "<a class=\"profile_link\" href=\"#{routes.user_path}#{session["username"]}\">#{session["username"]}</a>"
          end
        %>
        <a href="">Games</a>
        <a href="<%= routes.user_path %>">Users</a>
        <%= if session["username"]
              form_for :user, routes.logout_path do
                submit 'Logout', class: 'logout'
              end
            else
              "<a href=\"#{routes.login_path}\">Login</a>"
            end
        %>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
